<div class="row large-6 large-centered columns">
  <h1 class="main-title">Next Test</h1>
  <h2 class="secondary-title">Get advice on which A/B tests to run on your landing page.</h2>
</div>


<div class="row url-form">
<h3>First Step: Enter your landing page's url</h3>
  <div class="large-6 large-centered columns">
    <%= form_for @page, url: pages_path, remote: true do |f| %>
      <%= f.text_field :url, value: "http://" %>
      <%= f.submit "Start Testing", class: "large-6 large-offset-3 columns" %>
    <% end %>
  </div>
</div>

<div id="new_page"></div>