<% @feedback_collection.each do |feedback| %>

<%= image_tag "/screenshots/crops/#{feedback.image}" %>

<p>What do you like about the Landing Page Optimization on this page?</p>
<p><%= feedback.first_answer %></p>
<br>
<p>What would you change or test on this landing page?</p>
<p><%= feedback.second_answer %></p>

<% end %>