// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-title {
  text-align: center;
}

.nav {
  list-style-type: none;
  li {
    display: inline;
    float: right;
    margin-right: 20px;
  }
}

input[type=text], textarea {
  font-size: 20px;
}

.landing-page-form input {
  display: inline-block;
}

.container{
  margin-top: 200px;
}